target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

###  STS  ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
logs

###  IntelliIDEA  ###
/.idea
/*.iws
/*.iml
/*.ipr
.idea
*.iws
*.iml
*.ipr

###  VS Code  ###
/.vscode/
.vscode/
